{% extends 'base.html' %}

{% block content %}
    <h1>Events</h1>
    <table   class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Event Name</th>
            <th scope="col">Catogries</th>
            <th scope="col">Venue</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Cheif Guest</th>
            <th scope="col">Organizer</th>
          </tr>
        </thead>
        <tbody>
        {% for event in event_list %}
        {% if event.startDate >= today or event.endDate >= today %}
            <tr>
                <td>{{event.title|capfirst}}</td>
                <td>{{event.categorie|capfirst}}</td>
                <td>{{event.venue|capfirst}}</td>
                <td>{{event.startDate}}</td>
                <td>{{event.endDate}}</td>
                <td>{{event.startTime |time:"g:i"}}</td>
                <td>{{event.endTime |time:"g:i"}}</td>
                <td>{{event.chief_guest}}</td>
                <td>{{event.organizer}}</td>
            </tr>
          {% endif %}
        </tbody>
        {% endfor %}
      </table>
{% endblock %}